/* important prop */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
    scroll-behavior: smooth;
}

:root{
    --main-color:#1c1c1c;
    --secondery-color:#f7f7f7;
}

#navbar nav .navbar{
    z-index: 999999999999999;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #343434;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,.logo{
    font-family: 'Montserrat', sans-serif;
}


.main-color{
    color: var(--main-color) !important;
}

.main-backgroud-color{
    background-color: var(--main-color) !important;
}

/* global classes and varibles */


/* start header */
#Header{
    background-image: url("../Assets/imgs/bg.jpg");
    background-position: center center;
    background-size: cover;
}
#Header .over-lay{
    background-color: rgba(0, 0, 0, 0.7);
}
#Header .over-lay .text-center .social-icon a{
    color: white;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}
#Header .navbar-collapse{
    text-align: center;
}

#Header nav ul li a{
    position: relative;
    padding: 0;
}

#Header nav ul li a:after{
    content: "";
    width: 0%;
    height: 2.5px;
    position: absolute;
    left: 0;
    bottom: 0px; 
    background-color: var(--main-color);
    transition: all 0.5s;
}
#Header .active:after{
    width: 100%;
}

/* end header */



/* start about */
#About .skill-item{
    margin-bottom: 25px;
}
#About .progress, .progress-stacked{
    height: auto;
    box-shadow: 1px 1px 5px 1px inset;
}
#About .about-info button.cv-btn{
    color: #fff;
    background-color: var(--main-color);
    transition: all 0.8s;
}
#About .cv-btn:hover{
    background-color: #fff !important;
    color: var(--main-color) !important;
    border: 1px solid var(--main-color) !important;
}
#About .about-info button.con-btn{
    transition: all 0.8s;
    color: var(--main-color);
    background-color: #fff;

}
#About .about-info button.con-btn:hover{
    color: #fff !important;
    background-color: var(--main-color) !important;
    border: none !important;
}
#About .about-img{
    position: relative;
}
#About .about-img::after{
    content: "";
    background-image: url(../Assets/imgs/dots.png);
    background-repeat: repeat;
    width: 90%;
    height: 90%;
    position: absolute;
    bottom: -40px;
    left: -40px;
    z-index: -1;
}
/* end about */



/* start services */
#Services {
    background-color: var(--secondery-color);
}
#Services .container .serv-head h3{
    color: var(--main-color);
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}
#Services .container .serv-head h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -5px;
    left: 0%;
    background-image: url("../Assets/imgs/dots.png");
    background-repeat: repeat;
    z-index: -1;
} 
#Services .row .serv-card .icon{
    width: 70px;
    height: 70px;
    background-color: var(--secondery-color);
    display: inline-block;
    border-radius: 50%;
    line-height: 70px;
    font-size: 30px;
    color: var(--main-color);
    transition: all 1s;
}
#Services .row .serv-card:hover .icon{
    background-color: var(--main-color);
    color: var(--secondery-color)
}
#Services .row .serv-card h6{
    font-size: 20px;
    font-weight: 700;
}
#Services .row .serv-card p{
    font-size: .9rem;
}
/* end services */
/* start portfolio */
#Works .port-head h3{
    color: var(--main-color);
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}
#Works .port-head h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -5px;
    left: 0%;
    background-image: url("../Assets/imgs/dots.png");
    background-repeat: repeat;
    z-index: -1;
} 
#Works .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;

}
#Works .nav-item button span{
    position: relative;
}
#Works .nav-item button span::after{
    content: "";
    width: 0%;
    height: 2.5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; 
    background-color: var(--main-color);
    transition: all 0.5s;
}
#Works .nav-pills .nav-link.active span::after{
    width: 100%;
}
#Works .work-img .imglayer{
    position: absolute;
    top: 30px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.918);
    color: var(--main-color);
    opacity: 0;
    transition: all 1.3s;

}

#Works .work-img .imglayer .layer-info span a{
    position: relative;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: black;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    bottom: -20px;
    transition: all 0.8s;
    border: 1px solid var(--main-color);
}
#Works .work-img .imglayer .layer-info span a:hover{
    background-color: #fff;
    color: var(--main-color);
}
#Works .work-img .imglayer .layer-info h6{
    position: relative;
    top: -50px;
    transition: all 0.8s;
}
#Works .work-img {
    transition: all 1.5s;
}
#Works .work-img:hover .imglayer{
    opacity: 1;
    top: 5px;
}
#Works .work-img:hover .imglayer .layer-info h6{
    top: 0;
}
#Works .work-img:hover .imglayer .layer-info span a{
    bottom: 0px;
}
/* end portfolio */
/* start testimonils */
#Clients{
    background-color: var(--secondery-color);
}
#Clients .container .cli-head h3{
    color: var(--main-color);
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}
#Clients .container .cli-head h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -5px;
    left: 0%;
    background-image: url("../Assets/imgs/dots.png");
    background-repeat: repeat;
    z-index: -1;
} 
#Clients .container .carousel-item img{
    width: 100px;
}
#Clients .container .carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    background-color: #869791;
    border-radius: 50%;
}
/* end testimonils */
/* start icons-sec */
#icons-sec h3{
    font-weight: 900;
    padding-block: .9375rem;
}
#icons-sec p{
    font-weight: 600;
}
@property --num {
    syntax: "<integer>";
    initial-value: 250;
    inherits: false;
}
.count {
    animation: counter 5s 3 ease-in-out;
    counter-reset: num var(--num);
}
.count::after {
    content: counter(num);
}
@keyframes counter {
    from {
    --num: 0;
    }
    to {
    --num: 250;
    }
}



@property --num1 {
    syntax: "<integer>";
    initial-value: 230;
    inherits: false;
}
.count1 {
    animation: counter1 5s 3 ease-in-out;
    counter-reset: num1 var(--num1);
}
.count1::after {
    content: counter(num1);
}
@keyframes counter1 {
    from {
    --num1: 0;
    }
    to {
    --num1: 230;
    }
}


@property --num2 {
    syntax: "<integer>";
    initial-value: 9450;
    inherits: false;
}
.count2 {
    animation: counter2 5s 3 ease-in-out;
    counter-reset: num2 var(--num2);
}
.count2::after {
    content: counter(num2);
}
@keyframes counter2 {
    from {
    --num2: 0;
    }
    to {
    --num2: 9450;
    }
}


@property --num3 {
    syntax: "<integer>";
    initial-value: 780;
    inherits: false;
}
.count3 {
    animation: counter3 5s 3 ease-in-out;
    counter-reset: num3 var(--num3);
}
.count3::after {
    content: counter(num3);
}
@keyframes counter3 {
    from {
    --num3: 0;
    }
    to {
    --num3: 780;
    }
}

/* end icons-sec */
/* start team  */
#Team {
    background-color: #f7f7f7;
}
#Team .container .team-head h3{
    color: var(--main-color);
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}
#Team .container .team-head h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -5px;
    left: 0%;
    background-image: url("../Assets/imgs/dots.png");
    background-repeat: repeat;
    z-index: -1;
}
#Team .card .team-img .team-social {
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: rotateY(180deg) scale(0.5, 0.5);
    text-align: center;
    inset: 5px;
    opacity: 0;
    transition:all 1s;
    color: #1c1c1c
}
#Team .card .team-img .team-social  ul{
    margin: 0;
    padding: 0;
    height: 100%;
    gap: .625rem
}
#Team .card .team-img .team-social  ul li{
    display: inline-block;
}
#Team .card .team-img .team-social  ul li i{
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    border: 1px solid var(--main-color);
    transition: all 0.5s;
}
#Team .card .team-img img{
    transition: all 1s;
}
#Team .card:hover img{
    transform: scale(1.2);
}
#Team .card:hover .team-social{
    opacity: 1;
    transform: rotate(360deg) scale(1,1);
}
#Team .card .team-img .team-social  ul li i:hover {
    background-color: #fff;
    color: var(--main-color);
}
#Team .card .card-body{
    background-color: #5b5b5b;
    color: #fff;
}
#Team .card .card-body h5{
    font-size: 25px;
}
#Team .card .card-body h6{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
/* end team */
/* start contact */
#contact .container .cont-head h3{
    color: var(--main-color);
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}
#contact .container .cont-head h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -5px;
    left: 0%;
    background-image: url("../Assets/imgs/dots.png");
    background-repeat: repeat;
    z-index: -1;
}
#contact .contact-info span{
    width: 80px;
    height: 80px;
    background-color: #f7f7f7;
    display: inline-block;
    line-height: 80px;
    font-size: 30px;
    border-radius: 50%;
    color: var(--main-color);
    margin-block: 15px;
    transition: all 0.5s;
}
#contact .contact-info:hover span{
    background-color: var(--main-color);
    color: #fff;
}
#contact .contact-info h6{
    font-weight: 700;
    font-size: 20px;
}
#contact form textarea {
    height: 160px;
    max-height: 160px;
    max-width: 100%;
    resize: both;
}
#contact form  .form-control{
    background-color: #f7f7f7;
}
#contact form button.btn1{
    transition: all 0.8s;
    background-color: var(--main-color);
    color:#fff;
}
#contact form .form-control{
    border: none;
}
#contact form .form-control:focus{
    box-shadow: none;  
    border: none;
}
#contact .container form button.btn1:hover{
    color: var(--main-color)!important;
    background-color: #fff !important;
    border: 1px solid var(--main-color) !important;
}
/* end contact */
/* start footer */
footer{
    background-color: #1c1c1c;
    padding: 40px;
    color: #748182;
}
/* end footer */
